<section class="aui-flexView">
  <!-- 头部信息 begin -->
  <header class="aui-navBar">
    <a href="javascript:window.history.go(-1);" class="aui-navBar-item">
      <i class="aui-icon aui-icon-back"></i>
    </a>
    <div class="aui-navBar-center">
      <span class="aui-navBar-title">推荐</span>
    </div>
    <a href="javascript:;" class="aui-navBar-item">
      <i class="aui-icon aui-icon-user"></i>
    </a>
  </header>
  <!-- 头部信息 end -->
  <section class="aui-scrollView">
    <div class="aui-content">
      <!-- 加载完成提示 begin -->
      <div class="aui-load">
        <p>为你精选10条推荐</p>
      </div>
      <!-- 加载完成提示 end -->

      <!-- 新闻列表置顶 begin -->
      <div class="aui-news-box">
        <article class="aui-news-list">
          <a [routerLink]="['/special']" class="aui-news-item">
            <div class="aui-news-item-img">
              <img src="../../image/ad/ad3.jpg" title="" alt="">
            </div>
            <div class="aui-news-item-text">
              <h2 class="aui-news-item-text-title"> <em class="aui-special">专题</em>外交部：美方动作频频 暴露“只能我有，不允许你有”霸权心态</h2>
              <p class="aui-news-item-text-text">华春莹表示，在中国苹果手机随处可见，我们不觉得是威胁，但美国如果有人买了华为手机</p>
              <div class="aui-news-item-text-info">
                <span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-time"></i> 25分钟前</span>
                <span class="aui-news-item-text-info-text">环球新闻网</span>
              </div>
            </div>
          </a>
          <a [routerLink]="['/special']" class="aui-news-item">
            <div class="aui-news-item-img">
              <img src="../../image/ad/ad1.jpg" title="" alt="">
            </div>
            <div class="aui-news-item-text">
              <h2 class="aui-news-item-text-title"> <em class="aui-special">专题</em>外交部：美方动作频频 暴露“只能我有，不允许你有”霸权心态</h2>
              <p class="aui-news-item-text-text">华春莹表示，在中国苹果手机随处可见，我们不觉得是威胁，但美国如果有人买了华为手机</p>
              <div class="aui-news-item-text-info">
                <span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-time"></i> 25分钟前</span>
                <span class="aui-news-item-text-info-text">环球新闻网</span>
              </div>
            </div>
          </a>
          <a [routerLink]="['/special']" class="aui-news-item aui-news-list-two">
            <div class="clearfix">
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad4.jpg" alt="">
              </div>
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad2.jpg" alt="">
              </div>
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad3.jpg" alt="">
              </div>
            </div>
            <div class="aui-news-item-text">
              <h2 class="aui-news-item-text-title">江苏调查连云港灌河口化工园区污染事件：已挖到疑似排污暗管</h2>
              <div class="aui-news-item-text-info">
                <span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-comment"></i>2390</span>
                <span class="aui-news-item-text-info-text">潮流老湿</span>
              </div>
            </div>
          </a>
          <a [routerLink]="['/special']" class="aui-news-item aui-news-list-two">
            <div class="clearfix">
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad-2.jpg" alt="">
              </div>
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad-3.jpg" alt="">
              </div>
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad-4.jpg" alt="">
              </div>
            </div>
            <div class="aui-news-item-text">
              <h2 class="aui-news-item-text-title">江苏调查连云港灌河口化工园区污染事件：已挖到疑似排污暗管</h2>
              <div class="aui-news-item-text-info">
                <span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-comment"></i>2390</span>
                <span class="aui-news-item-text-info-text">潮流老湿</span>
              </div>
            </div>
          </a>
          <a [routerLink]="['/special']" class="aui-news-item aui-news-list-one">
            <div class="aui-news-item-img">
              <img src="../../image/ad/ad-4.jpg" alt="">
              <i class="aui-play-btn"></i>
            </div>
            <div class="aui-news-item-text">
              <h2 class="aui-news-item-text-title">王思聪关注的最小网红，还是抖音第一小女神，才9岁就合作TFBOYS</h2>
              <div class="aui-news-item-text-info">
                <span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-comment"></i>2390</span>
                <span class="aui-news-item-text-info-text">潮流老湿</span>
              </div>
            </div>
          </a>
          <a [routerLink]="['/special']" class="aui-news-item aui-news-list-two">
            <div class="clearfix">
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad4.jpg" alt="">
              </div>
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad2.jpg" alt="">
              </div>
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad3.jpg" alt="">
              </div>
            </div>
            <div class="aui-news-item-text">
              <h2 class="aui-news-item-text-title">江苏调查连云港灌河口化工园区污染事件：已挖到疑似排污暗管</h2>
              <div class="aui-news-item-text-info">
                <span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-comment"></i>2390</span>
                <span class="aui-news-item-text-info-text">潮流老湿</span>
              </div>
            </div>
          </a>
          <a [routerLink]="['/special']" class="aui-news-item aui-news-list-two">
            <div class="clearfix">
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad4.jpg" alt="">
              </div>
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad2.jpg" alt="">
              </div>
              <div class="aui-news-item-img">
                <img src="../../image/ad/ad3.jpg" alt="">
              </div>
            </div>
            <div class="aui-news-item-text">
              <h2 class="aui-news-item-text-title">江苏调查连云港灌河口化工园区污染事件：已挖到疑似排污暗管</h2>
              <div class="aui-news-item-text-info">
                <span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-comment"></i>2390</span>
                <span class="aui-news-item-text-info-text">潮流老湿</span>
              </div>
            </div>
          </a>
        </article>
      </div>
      <div class="divR"></div>
      <!-- 新闻列表置顶 end -->

      <!-- 关键词 标签 begin -->
      <div class="aui-label-box">
        <div class="aui-label-content">
          <ul>
            <li>
              <a [routerLink]="['/special']">独家</a>
            </li>
            <li>
              <a [routerLink]="['/special']">宠物</a>
            </li>
            <li>
              <a [routerLink]="['/special']">娱乐</a>
            </li>
            <li>
              <a [routerLink]="['/special']">画家</a>
            </li>
            <li>
              <a [routerLink]="['/special']">时尚</a>
            </li>
            <li>
              <a [routerLink]="['/special']">文学</a>
            </li>
            <li>
              <a [routerLink]="['/special']">汽车</a>
            </li>
            <li>
              <a [routerLink]="['/special']">历史</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="divR"></div>
      <!-- 关键词 标签 end -->
    </div>
  </section>
</section>