<footer class="aui-footer-bar aui-footer-fixed">
  <a routerLinkActive='current' [routerLink]="['/home']" [queryParams]='{}'  class="aui-footer-item ">
    <span class="aui-footer-item-icon">
      <i class="aui-icon aui-icon-news"></i>
    </span>
    <span class="aui-footer-item-text">要闻</span>
  </a>
  <a routerLinkActive='current' [routerLink]="['/video']" [queryParams]='{}'   class="aui-footer-item">
    <span class="aui-footer-item-icon">
      <i class="aui-icon aui-icon-video"></i>
    </span>
    <span class="aui-footer-item-text">视频</span>
  </a>
  <a routerLinkActive='current' [routerLink]="['/reconmend']" [queryParams]='{}'   class="aui-footer-item">
    <span class="aui-footer-item-icon">
      <i class="aui-icon aui-icon-hot"></i>
    </span>
    <span class="aui-footer-item-text">推荐</span>
  </a>
  <a routerLinkActive='current' [routerLink]="['/user']" [queryParams]='{}'  class="aui-footer-item">
    <span class="aui-footer-item-icon">
      <i class="aui-icon aui-icon-my"></i>
    </span> 
    <span class="aui-footer-item-text">我的</span>
  </a>
</footer>