<div class="tab-panel-item tab-active">

    <div class="aui-user-list-item">
      <a href="javascript:;" class="aui-user-list-cell">
        <div class="aui-user-list-cell-left">
          <i class="aui-icon aui-icon-dope"></i>
          收到的点赞
        </div>
        <div class="aui-user-list-cell-right">
        </div>
      </a>
      <a href="javascript:;" class="aui-user-list-cell">
        <div class="aui-user-list-cell-left">
          <i class="aui-icon aui-icon-lss"></i>
          粉丝
        </div>
        <div class="aui-user-list-cell-right">

        </div>
      </a>
      <div class="divR"></div>
      <a href="javascript:;" class="aui-user-list-cell">
        <div class="aui-user-list-cell-left">
          <i class="aui-icon aui-icon-jbb"></i>
          新回复通知我
        </div>
        <div class="aui-user-list-cell-right">
          查看金币
        </div>
      </a>
      <a href="javascript:;" class="aui-user-list-cell">
        <div class="aui-user-list-cell-left">
          <i class="aui-icon aui-icon-llw"></i>
          最新评论
        </div>
        <div class="aui-user-list-cell-right">
        </div>
      </a>
    </div>
  </div>