<section class="aui-flexView">
  <section class="aui-scrollView">
    <div class="aui-content">
      <!-- 头部导航滑动 begin -->
      <div class="aui-nav-top">
        <div class="aui-nav-scroll">
          <div class="aui-nav-main">
            <div class="aui-nav-track">
              <a href="javascript:;" class="aui-nav-list current">推荐</a>
              <a href="javascript:;" class="aui-nav-list">直播</a>
              <a href="javascript:;" class="aui-nav-list">网红</a>
              <a href="javascript:;" class="aui-nav-list">搞笑</a>
              <a href="javascript:;" class="aui-nav-list">生活</a>
              <a href="javascript:;" class="aui-nav-list">军事</a>
              <a href="javascript:;" class="aui-nav-list">科技</a>
              <a href="javascript:;" class="aui-nav-list">汽车</a>
              <a href="javascript:;" class="aui-nav-list">体育</a>
              <a href="javascript:;" class="aui-nav-list">财经</a>
              <a href="javascript:;" class="aui-nav-list">国际</a>
              <a href="javascript:;" class="aui-nav-list">时尚</a>
              <a href="javascript:;" class="aui-nav-list">时尚</a>
              <a href="javascript:;" class="aui-nav-list">房产</a>
              <a href="javascript:;" class="aui-nav-list">历史</a>
              <a href="javascript:;" class="aui-nav-list">酷站</a>
            </div>
          </div>
          <div class="aui-nav-more">
            <a href="javascript:;" class="aui-icon aui-icon-add"></a>
          </div>
        </div>
      </div>
      <!-- 头部导航滑动 end -->


      <!-- 新闻列表置顶 begin -->
      <div class="aui-news-box">
        <article class="aui-news-list">
          <a href="javascript:;" class="aui-news-item aui-news-list-one">
            <div class="aui-news-item-img">
              <img src="../../image/ad/ad-2.jpg" alt="">
              <i class="aui-play-btn"></i>
            </div>
            <div class="aui-news-item-text">
              <h2 class="aui-news-item-text-title">王思聪关注的最小网红，还是抖音第一小女神，才9岁就合作TFBOYS</h2>
              <div class="aui-news-item-text-info">
                <span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-comment"></i>2390</span>
                <span class="aui-news-item-text-info-text">潮流老湿</span>
              </div>
            </div>
          </a>
          <a href="javascript:;" class="aui-news-item aui-news-list-one">
            <div class="aui-news-item-img">
              <img src="../../image/ad/ad-3.jpg" alt="">
              <i class="aui-play-btn"></i>
            </div>
            <div class="aui-news-item-text">
              <h2 class="aui-news-item-text-title">王思聪关注的最小网红，还是抖音第一小女神，才9岁就合作TFBOYS</h2>
              <div class="aui-news-item-text-info">
                <span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-comment"></i>2390</span>
                <span class="aui-news-item-text-info-text">潮流老湿</span>
              </div>
            </div>
          </a>
          <a href="javascript:;" class="aui-news-item aui-news-list-one">
            <div class="aui-news-item-img">
              <img src="../../image/ad/ad-4.jpg" alt="">
              <i class="aui-play-btn"></i>
            </div>
            <div class="aui-news-item-text">
              <h2 class="aui-news-item-text-title">王思聪关注的最小网红，还是抖音第一小女神，才9岁就合作TFBOYS</h2>
              <div class="aui-news-item-text-info">
                <span class="aui-news-item-text-info-time"><i class="aui-icon aui-icon-comment"></i>2390</span>
                <span class="aui-news-item-text-info-text">潮流老湿</span>
              </div>
            </div>
          </a>
        </article>
      </div>
      <div class="divR"></div>
      <!-- 新闻列表置顶 end -->

      <!-- 关键词 标签 begin -->
      <div class="aui-label-box">
        <div class="aui-label-content">
          <ul>
            <li>
              <a href="javascript:;">独家</a>
            </li>
            <li>
              <a href="javascript:;">宠物</a>
            </li>
            <li>
              <a href="javascript:;">娱乐</a>
            </li>
            <li>
              <a href="javascript:;">画家</a>
            </li>
            <li>
              <a href="javascript:;">时尚</a>
            </li>
            <li>
              <a href="javascript:;">文学</a>
            </li>
            <li>
              <a href="javascript:;">汽车</a>
            </li>
            <li>
              <a href="javascript:;">历史</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="divR"></div>
      <!-- 关键词 标签 end -->

    </div>

  </section>

</section>